@use '@assets/scss/variables.scss' as *;
@use '@assets/scss/mixins' as *;

.Container {
    width: 20rem;
    // height: 10rem;
    background: $dark_blue;
    border-radius: 5px;
    padding: .5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .Details {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .Detail {
            display: flex;
            justify-content: space-between;

            .DetailLabel {
                color: $light-gray;
            }

            .DetailValue {
                font-weight: 600;
            }
        }

    }

    .Actions {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

    }
    
}

.ConfirmOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.ConfirmContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-blue;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    max-width: 400px;
    width: 90%;
    text-align: center;
    color: $white;
    z-index: 1000;

    .ConfirmContainer h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: $light-blue;
    }

    .ConfirmContainer p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        color: $light-gray;
    }

    .ConfirmButtons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .Warning {
        color: $yellow;
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .ReasonInput {
        width: 100%;
        height: 10rem;
        padding: .5rem;
        border-radius: 10px;
        background-color: $gray;
        color: $white;
        resize: none;
        margin-top: 1rem;
        outline: none;
        border: 0;

        &::placeholder {
            color: $light-gray;
        }
    }
}

.ConfirmButton {
    @include button-primary;
    height: 2.5rem;
    width: 9rem;
}

.CancelButton {
    @include button-error;
    height: 2.5rem;
    width: 9rem;
}