@use '@assets/scss/variables' as *;
@use '@assets/scss/mixins' as *;
@use 'sass:color';

.Container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background: $dark-blue;
    border-radius: 8px;
    padding: 1rem 2.5rem;

    position: relative;

    width: 35rem;
    height: 10.5rem;

    @media screen and (min-width: 1441px) {
        width: 30rem;
        padding: 1rem 1.5rem;
    }

    .TopInfos {
        display: flex;
        align-items: center;
        gap: 1rem;

        .IconContainer {
            width: 3rem;
            height: 3rem;

            scale: 1;

            padding: .5rem;

            display: flex;
            align-items: center;
            justify-content: center;

            background: $light-blue;

            border-radius: 5px;

            .Icon {
                width: 2rem;
                height: 2rem;
            }
        }

        .TextsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .1rem;

            .Name {
                font-size: 1.3rem;
                line-height: 1.3rem;

                width: 80%;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .Description {
                font-size: .9rem;
                color: $light-gray;
            }
        }
    }

    .ServiceInfos {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        .ServiceInfo {
            display: flex;
            align-items: center;
            gap: .5rem;
            
            .ServiceInfoLabelSection {
                display: flex;
                align-items: center;
                gap: .2rem;

                color: $light-gray;
            }
        }
    }

    .StatusInfo {
        position: absolute;
        right: 2rem;

        display: flex;
        align-items: center;
        gap: .5rem;

        padding: 0 .5rem;
        border-radius: 100vw;

        font-weight: 500;

        .StatusIndicator {
            width: .8rem;
            height: .8rem;

            border-radius: 100%;
        }

        &.Active {
            background: #51ca84a1;

            .StatusIndicator {
                background: $green;
            }
        }

        &.Inactive {
            background: #b34646a9;

            .StatusIndicator {
                background: $red;
            }
        }
    }

    .BottomOptions {
        position: absolute;
        right: 2rem;
        bottom: 1rem;

        display: flex;
        align-items: center;
        gap: .5rem;

        .Switch {
            position: relative;
            width: 3rem;
            height: 1.5rem;

            border-radius: 100vw;
            border: none;

            background: $gray;
            cursor: pointer;

            transition: background 0.3s ease;

            &[data-state='checked'] {
                background: $light-blue;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0.3rem;

                transform: translate(0, -50%);

                width: 1rem;
                height: 1rem;

                border-radius: 50%;
                background: $light-gray;
                transition: transform 0.3s ease;
            }

            &[data-state='checked']::after {
                transform: translate(1.5rem, -50%);
            }
        }

        .Button {
            width: 1.5rem;
            height: 1.5rem;

            background: transparent;
            border: 0;

            &:hover {
                cursor: pointer;
            }

            .Icon {
                width: 1.3rem;
                height: 1.3rem;

                color: $light-blue;

                &.Delete {
                    color: $red;
                }
            }
        }
    }


}

.RemovingService {
    color: $light-blue;
}

.Actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    .Cancel {
        @include button-secondary;
        padding: .75rem 0;
        width: 9rem;
    }

    .Confirm {
        @include button-primary;
        padding: .75rem 0;
        width: 9rem;
    }
}

.EditForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "name name"
        "description description"
        "description description"
        "price duration"
        "category category"
    ;
    gap: 1rem;

    .InputContainer {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        input, textarea {
            background-color: $gray;
            padding: 1rem;
            outline: none;
            border: none;
            border-radius: 5px;

            color: $white;
            resize: none;
            max-height: 10rem;

            font-size: 1rem;
        }
    }

    .Name { grid-area: name; }
    .Description { grid-area: description; }
    .Price { grid-area: price; }
    .Duration { grid-area: duration; }
    .Category { grid-area: category; }
}

.SelectMenu {
    width: 100%;
}

.EditActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    .CancelButton {
        @include button-error;
        padding: .5rem 0;
        width: 9rem;
    }

    .SaveButton {
        @include button-primary;
        padding: .5rem 0;
        width: 9rem;
    }
}