@use '@assets/scss/variables' as *;
@use '@assets/scss/mixins' as *;

.Container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: visible;

    width: 20rem;
    height: 20rem;

    .Details {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        .Detail {
            display: flex;
            justify-content: space-between;

            font-size: 0.9rem;

            .DetailLabel {
                color: $light-gray;
            }

            .DetailValue {
                font-weight: 600;
            }
        }
    }

    .Actions {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        margin-top: 1.5rem;

        &.EditActions {
            margin-top: 0;
        }

        .Action {
            @include button-secondary;
            width: 100%;
            height: 3rem;

            border-radius: 5px;
            
            &.Start {
                @include button-primary;
                border-radius: 5px;
            }
        }
    }
}