@use '@assets/scss/variables' as *;
@use 'sass:color';

.Container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background: $dark-blue;
    border-radius: 8px;
    padding: 1rem 2.5rem;

    .MainInfos {
        display: flex;
        justify-content: space-between;

        .Left {
            display: flex;
            gap: 1rem;
            align-items: center;
            
            .Status {
                margin-top: .2rem;
                width: fit-content;
                padding: .2rem .5rem;
                border-radius: 100vw;
                font-size: 0.8rem;
                font-weight: 600;
                
                &.Pending {
                    background: $yellow;
                    color: color.adjust($yellow, $lightness: 40%);
                }
                
                &.Confirmed {
                    background: $green;
                    color: color.adjust($green, $lightness: 40%);
                }
                
                &.Canceld {
                    background: $red;
                    color: white;
                }
                
                &.Delayed {
                    background: $orange;
                    color: white;
                }
                
                &.Running {
                    background: $light-blue;
                    color: white;
                }
                
                &.Complete {
                    background: $purple;
                    color: white;
                }
            }
        }

        .Actions {
            display: flex;
            align-items: center;
            gap: 1rem;

            .ActionButton {
                width: 1.5rem;
                height: 1.5rem;

                background: transparent;
                border: 0;

                color: $light-blue;

                transition: color .3s ease;

                &:hover {
                    cursor: pointer;
                    color: color.adjust($light-blue, $lightness: -10%);
                }
                
                .Icon {
                    width: 100%;
                    height: 100%;
                }
                
                &.Red {
                    color: $red;
                    
                    &:hover {
                        color: color.adjust($red, $lightness: -10%);
                    }
                }
            }
        }
    }

    .ServiceInfos {
        display: flex;
        justify-content: space-between;

        .ServiceInfo {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .ServiceInfoLabelSection {
                display: flex;
                align-items: center;

                gap: .4rem;

                font-size: .9rem;

                color: $light-gray;
            }
        }
    }
}