@use '@assets/scss/mixins' as *;
@use '@assets/scss/variables' as *;
@use 'sass:color';

.Container {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .PageContent {
        display: flex;
        justify-content: center;

        .LeftContent {
            width: 35vh;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2rem;

            padding: .5rem 1rem;

            .ProfilePicArea {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 1rem 0;

                border-radius: 5px;

                background: $dark-blue;

                .Title {
                    width: 90%;
                    font-size: 1.2rem;
                }

                .ProfilePic {
                    width: 10rem;
                    height: 10rem;

                    border-radius: 50%;
                }

                .UploadPhoto {
                    width: 10rem;
                    height: 2.3rem;

                    @include button-tertiary;
                    border-radius: 5px;
                }
            }

            .PrivacyArea {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                button {
                    height: 2.7rem;
                }

                .ChangePassword, .ChangeEmail {
                    @include button-tertiary;
                    border-radius: 5px;
                }

                .DeleteAccount {
                    background: $red;

                    border-radius: 5px;

                    font-size: larger;
                    font-weight: 600;

                    transition: background-color .3s ease-in-out;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    color: $white;

                    border: 0;

                    &:hover {
                        cursor: pointer;
                        background-color: color.adjust($red, $lightness: -5%);
                    }
                }
            }
        }

        .RightContent {
            width: 60vw;
            height: fit-content;
            margin-top: .5rem;

            border-radius: 5px;

            padding: 1.5rem 1rem;

            background: $dark-blue;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.5rem;

            .Title {
                width: 95%;
                font-size: 1.2rem;
            }

            .InputForm {
                width: 90%;

                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                    'name name'
                    'phone cpf'
                    'birthdate gender';
                gap: 1rem;

                .InputArea {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    label {
                        color: $white;
                        font-weight: 600;
                        font-size: 1.1rem;
                    }

                    .Input {
                        width: 100%;
                        height: 3rem;

                        padding: 0 .8rem;

                        background: $gray;

                        border: 0;
                        border-radius: 10px;

                        color: $white;

                        outline: none;

                        box-shadow: 0 0 0px transparent;
                        transition: box-shadow 0.3s ease-in-out; 

                        font-size: 1.2rem;

                        &:focus {
                            border: 1px solid $light-blue;
                            box-shadow: 0 0 3px $light-blue;
                        }
                    }
                }
            }

            .ButtonsArea {
                display: flex;
                width: 100%;
                padding-left: 2.5rem;
                gap: 1rem;
                
                .Button {
                    width: 15rem;
                    height: 2.5rem;
                    
                    &.SaveChanges {
                        @include button-primary;
                        border-radius: 5px;
                    }
                    
                    &.DiscardChanges {
                        @include button-secondary;
                        border-radius: 5px;
                    }

                }
            }
        }
    }

    .PersonalDashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .Infos {
            margin-top: 1rem;
            
            width: calc((0.9 * 35vw) + (46vw));
            
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2rem;

            .Card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 20vh;

                border-radius: 10px;
                padding: 1rem;

                background: $dark-blue;
                
                .TopArea {
                    display: flex;
                    justify-content: space-between;

                    .Icon {
                        width: 2rem;
                        height: 2rem;

                        color: $light-blue;
                    }

                    .PlanStatus {
                        background: $light-blue;
                        margin-top: .2rem;
                        width: fit-content;
                        padding: .2rem .5rem;
                        border-radius: 100vw;
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                }

                .CardDetails {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;

                    .CardTitle {
                        color: $white;
                    }

                    .CardText {
                        color: $light-gray;
                    }
                }
            }

            .Logs {
                height: 20vh;
                grid-column: span 2;
                border-radius: 5px;

                background: $dark-blue;

                padding: .3rem 0;

                display: flex;
                flex-direction: column;
                gap: .5rem;

                overflow-y: auto;
                overflow-y: overlay;

                &::-webkit-scrollbar {
                    width: 1px; 
                    height: 1px;
                }

                &::-webkit-scrollbar-track {
                    background: darken($dark-blue, 5%);
                }

                &::-webkit-scrollbar-thumb {
                    background: lighten($dark-blue, 15%);
                    &:hover {
                        background: lighten($dark-blue, 25%);
                    }
                }
            }
        }
    }
}

.Name { grid-area: name; }
.PhoneNumber { grid-area: phone; }
.Cpf { grid-area: cpf; }
.BirthDate { grid-area: birthdate; }
.Gender { grid-area: gender; }