@use '@assets/scss/variables' as *;
@use '@assets/scss/mixins' as *;

.Container {
    display: flex;
    flex-direction: column;

    .PageContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: .5rem;

        .Options {
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            
            padding-right: 5rem;
            
            .SelectMenu {
                width: 15vw;
            }
            
            .AddService {
                @include button-primary;
                padding: 0 .5rem;
                
                border-radius: 5px;
            }
        }

        .ServicesWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .Services {

                display: grid;
                grid-template-columns: repeat(auto-fill, 35rem);
                justify-content: center;
                gap: 2rem;

                width: 90%;
                margin-top: 1rem;
                max-height: 35rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 1px; 
                    height: 1px;
                }
    
                &::-webkit-scrollbar-track {
                    background: darken($dark-blue, 5%);
                }
    
                &::-webkit-scrollbar-thumb {
                    background: lighten($dark-blue, 15%);
                    &:hover {
                        background: lighten($dark-blue, 25%);
                    }
                }
            }
        }

    }
}

