@use '@assets/scss/variables' as *;
@use 'sass:color';

.Container {
    width: 20rem;
    height: 25rem;

    border-radius: 20px;
    overflow: hidden;

    position: relative;

    transition: transform .3s ease-in-out;

    .BarberImage {
        width: 100%;
        height: 100%;

        transition: transform .3s ease-in-out;
    }

    &::after {
        content: '';
        position: absolute;

        width: 100%;
        height: 100%;

        bottom: 0;
        left: 0;

        background: linear-gradient(0deg, $bg-color, transparent);
    }

    &:hover {
        cursor: pointer;
        
        transform: translateY(-4px);
        box-shadow: 0 0 5px color.adjust($light-blue, $lightness: 10%);

        .BarberImage {
            transform: scale(1.1);
        }
    }

    .BarberDetails {
        position: absolute;
        z-index: 9999;
        color: $white;

        width: 100%;
        height: 25%;
        bottom: 0;

        display: flex;
        flex-direction: column;
        gap: .3rem;

        padding: 1rem;

        .BarberName {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .BarberRating {
            color: $light-gray;
        }

        .Availability {
            display: flex;
            align-items: center;
            gap: .3rem;

            &.Available {
                color: $light-blue;
            }

            &.Unavailable {
                color: $orange;
            }
        }
    }
}