@use '@assets/scss/variables' as *;

.Overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    animation: fadeIn 0.25s ease-out;
    backdrop-filter: blur(3px);
    z-index: 9998;
}

.Container {
    background-color: $dark-blue; 
    border-radius: 16px;
    padding: 2rem;
    overflow-y: auto;

    outline: none;

    &.OverflowYShow {
        overflow-y: visible !important;
    }

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    animation: slideUp 0.3s ease-out;

    z-index: 9999;
}

.Close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $light-gray;
    font-size: 1.25rem;
    transition: color 0.2s;

    &:hover {
        color: $light-blue;
    }
}

.Icon {
    font-size: 1.2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
