@use '@assets/scss/variables' as *;

@use 'sass:color';

.Container  {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: $gray;

    transition: width 0.3s ease;

    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-weight: 600;

    padding-top: 2rem;

    &.Collapsed {
        width:  5vw;
    }

    &.Expanded {
        width: 20vw;

        .ToggleButton {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .ToggleIcon {
                transform: rotate(180deg);
            }
        }

        .Option {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 1rem;

            color: $light_blue;
        }

        .BottomOption {
            background: $red;

            .Icon {
                color: $white !important;
            }

            &:hover {
                border-radius: 5px;
                cursor: pointer;
                background-color: color.adjust($red, $lightness: -5%);
            }
        }

        .Label {
            font-size: 1.5rem;
            white-space: nowrap
        }
    }

    .ToggleButton {
        background: transparent;
        border: 0;

        height: 2rem;

        color: $white;

        font-weight: 800;

        display: flex;
        align-items: center;
        justify-content: center;

        .ToggleIcon {
            transition-delay: .5s;
            transition: all .5s ease-in-out;
            transform: rotate(0deg);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .NavMenu {
        margin-top: 4rem;
        height: 80vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .NavList {
            height: 60vh;

            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            list-style: none;

            .Option {
                height: 3rem;
                transition: all .3s ease-in-out;
                
                .Icon {
                    color: $light_blue;
                    stroke-width: 10;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    color: color.adjust($color: $light_blue, $lightness: -10%);
                    border-radius: 5px;
                    cursor: pointer;

                    .Icon {
                        color: color.adjust($color: $light_blue, $lightness: -10%) !important;
                    }
                }
            }

        }

        .BottomOption {

            margin-bottom: 1rem;

            transition: all .3s ease-in-out;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            width: 90%;
            height: 3rem;

            border-radius: 10px;

            .Icon {
                width: 2rem;
                height: 2rem;

                color: $red;
            }
        }
    }

    .Icon {
        width: 2rem;
        height: 2rem;

    }
}