@use './variables' as *;
@use 'sass:color';

@mixin button-primary {
    background: $light-blue;
    color: $white;
    border-radius: 10px;

    border: 0;
    
    font-size: larger;
    font-weight: 600;

    transition: background-color .3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    outline: none;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        cursor: pointer;
        background: color.adjust($light-blue, $lightness: -10%);
    }

    .Icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@mixin button-secondary {
    background: transparent;
    color: $light-blue;
    border-radius: 10px;

    border: 1px solid $light-blue;

    font-size: larger;
    font-weight: 600;

    transition: background-color .3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    outline: none;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        cursor: pointer;
        background: color.adjust($color: $gray, $lightness: -5%);
    }

    .Icon {
        color: $light-blue;
        fill: $light-blue;

        width: 1.5rem;
        height: 1.5rem;
    }
}

@mixin button-tertiary {
    background: $gray;
    color: $white;
    border-radius: 10px;

    border: 1px solid $light-blue;

    font-size: larger;
    font-weight: 600;

    transition: background-color .3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    outline: none;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        cursor: pointer;
        background: color.adjust($color: $gray, $lightness: -3%);
    }

    .Icon {
        color: $light-blue;
        fill: $light-blue;

        width: 1.5rem;
        height: 1.5rem;
    }
}

@mixin button-error {
    background: $red;
    color: $white;
    border-radius: 10px;

    border: 0;
    
    font-size: larger;
    font-weight: 600;

    transition: background-color .3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        cursor: pointer;
        background: color.adjust($red, $lightness: -10%);
    }

    .Icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}