$bg-color: #0B0F1A;
$dark-blue: #111C44;
$light-blue: #2F80ED;
$gray: #1F2A40;
$light-gray: #C5C6CC;
$white: #E4E9F2;
$green: #27AE60;
$red: #EB5757;
$yellow: #F2C94C;
$orange: #F2994A;
$purple: #9B51E0;