@use '@assets/scss/variables' as *;
@use '@assets/scss/mixins' as *;
@use 'sass:color';

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    .PageContent {
        display: flex;
        gap: 3rem;
        margin-top: 2vh;

        .DivisorLine {
            width: 100%;
            height: 1px;

            margin-top: 1.5rem;

            background: linear-gradient(90deg, transparent, $light-gray, transparent);
        }

        .LeftArea {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .TopContent {
                width: 25rem;
                padding: 1.5rem;

                background: $dark-blue;
                border-radius: 5px;

                .BarberData {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    margin-top: 1.5rem;

                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                    }

                    .BarberDetails {
                        display: flex;
                        flex-direction: column;
                        gap: .3rem;

                        .BarberName {
                            font-size: 1.1rem;
                            color: $white;
                            font-weight: 600;
                        }

                        .BarberRating {
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                            font-size: .9rem;
                            color: $light-gray;
                        }
                    }
                }

                
            }
            

            .Details {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .Detail {
                    display: flex;
                    justify-content: space-between;

                    
                    .DetailLabel {
                        color: $light-gray;
                        font-weight: 400;
                    }
                    
                    .DetailValue {
                        font-weight: 500;
                    }

                    &.FinalPrice {
                        margin-top: 1rem;

                        .DetailLabel {
                            color: $white;
                            font-weight: 500;
                        }
                    }
                }
            }

            .BottomContent {
                width: 25rem;
                padding: 1.5rem;

                background: $dark-blue;
                border-radius: 5px;

                .DiscountPercentage {
                    margin-right: 1rem;
                    background: $light-blue;
                    padding: 0 .5rem;
                    border-radius: 100vw;
                }

                .DiscountValue {
                    color: $light-blue;
                }
            }
        }

        .RightArea {
            background: $dark-blue;
            border-radius: 5px;
            padding: 1rem;
            width: 25rem;

            .PaymentMethods {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                margin-top: 1rem;
                
                .PaymentMethod {
                    display: flex;
                    justify-content: space-between;

                    padding: 1rem;
                    border: 3px solid $gray;
                    border-radius: 10px;

                    position: relative;

                    transition: border-color .3s ease, background-color .3s ease;

                    &:hover {
                        cursor: pointer;
                        background: #2f81ed0c;
                    }

                    &.Selected {
                        border: 3px solid $light-blue;

                        background: #2f81ed1a;

                        .IconContainer {
                            border-color: $light-blue !important;

                            .Icon {
                                color: $light-blue !important;
                                fill: $light-blue !important;
                            }
                        }
                    }

                    .CustomRadio {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        position: absolute;

                        width: 1.2rem;
                        height: 1.2rem;
                        border: 2px solid $gray;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: border-color 0.3s ease, background-color 0.3s ease;

                        right: 0;
                        top: 50%;

                        transform: translateY(-50%);

                        margin-right: 0.7rem;
                        background: transparent;
                    }

                    .CustomRadio:checked {
                        border-color: $light-blue;
                    }

                    .PaymentMethodDetails {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .IconContainer {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border: 2px solid $gray;

                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;

                            transition: border-color .3s ease;

                            .Icon {
                                width: 1.5rem;
                                height: 1.5rem;

                                color: $gray;
                                fill: $gray;
                            }
                        }
                    }
                }
            }



            .PaymentMethodArea {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                margin-top: 1.5rem;

                .PixContainer { 
                    .QrCodeContainer {
                        display: flex;
                        flex-direction: column;
    
                        .QrCode {
                            width: 11rem;
                            height: 11rem;
    
                            background: white;
                            padding: .5rem;
                            border-radius: 5px;
                        }
                    }
    
                    .QrCodeButton {
                        @include button-primary;
                        height: 2rem;
                        width: 10rem;
                        margin-top: .5rem;
                    }
                }

                .CardContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    
                    .CardTypeSelector {
                        display: flex;
                        width: calc(60% + .3rem);
                        gap: .3rem;
                        position: relative;

                        .CardType {
                            width: 50%;
                            text-align: center;
                            padding: 0.5rem 0;
                            cursor: pointer;
                            position: relative;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
    
                            width: 50%;
                            height: 3px;
                            background: $light-blue;
                            border-radius: 3px;
    
                            transition: transform 0.3s ease; 
                            transform: translateX(0%);
                        }
    
                        &.debit::after {
                            transform: translateX(100%);
                        }
                    }

                    .CardInfosInputs {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                            "number number"
                            "name name"
                            "expireDate cvv"
                            "cpf cpf"
                        ;
                        width: 23rem;
                        gap: .5rem;

                        .InputContainer {
                            display: flex;
                            flex-direction: column;
                            gap: .3rem;

                            .Input {
                                height: 2rem;
                                padding: .5rem;

                                background: $gray;
                                border: 0;
                                outline: 0;
                                border-radius: 5px;

                                color: $white;
                            }
                        }
                    }

                }
            }

            .ButtonsContainer {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                margin-top: 1.5rem;

                .Button {
                    height: 2.5rem;
                    
                    &.PayButton {
                        @include button-primary;
                    }

                    &.CancelButton {
                        @include button-secondary;
                    }
                }
            }

            .Security {
                margin-top: .7rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                padding: .5rem;

                border-radius: 10px;

                background: rgba(0, 0, 0, 0.2);

                .Icon {
                    color: $light-blue;
                }

                .SecurityText {
                    .Title {
                        font-size: .8rem;
                        font-weight: 500;
                    }

                    .Text {
                        font-size: .6rem;
                    }
                }
            }
        }
    }
}

.CardNumberGridArea { grid-area: number; }
.CardNameGridArea { grid-area: name; }
.CardExpDateGridArea { grid-area: expireDate; }
.CardCVVGridArea { grid-area: cvv; }
.CardCPFGridArea { grid-area: cpf; }