@use '@assets/scss/variables' as *;
@use 'sass:color';

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    .PageContent {
        display: flex;
        gap: 3rem;

        .LeftArea {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .TopContent {
                width: 25rem;
                padding: 1rem;

                background: $dark-blue;
                border-radius: 5px;

                .BarberData {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    margin-top: 1.5rem;

                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                    }

                    .BarberDetails {
                        display: flex;
                        flex-direction: column;
                        gap: .3rem;

                        .BarberName {
                            font-size: 1.1rem;
                            color: $white;
                            font-weight: 600;
                        }

                        .BarberRating {
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                            font-size: .9rem;
                            color: $light-gray;
                        }
                    }
                }

                
            }
            .DivisorLine {
                width: 100%;
                height: 1px;

                margin-top: 1.5rem;

                background: linear-gradient(90deg, transparent, $light-gray, transparent);
            }

            .Details {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .Detail {
                    display: flex;
                    justify-content: space-between;

                    
                    .DetailLabel {
                        color: $light-gray;
                        font-weight: 400;
                    }
                    
                    .DetailValue {
                        font-weight: 500;
                    }

                    &.FinalPrice {
                        margin-top: 1rem;

                        .DetailLabel {
                            color: $white;
                            font-weight: 500;
                        }
                    }
                }
            }

            .BottomContent {
                width: 25rem;
                padding: 1rem;

                background: $dark-blue;
                border-radius: 5px;

                .DiscountPercentage {
                    margin-right: 1rem;
                    background: $light-blue;
                    padding: 0 .5rem;
                    border-radius: 100vw;
                }

                .DiscountValue {
                    color: $light-blue;
                }
            }
        }

        .RightArea {
            background: $dark-blue;
            border-radius: 5px;
            padding: 1rem;
            width: 30rem;

            transition: height .3s ease-in-out;

            .PaymentMethods {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                margin-top: 1rem;
                
                .PaymentMethod {
                    display: flex;
                    justify-content: space-between;

                    padding: 1rem;
                    border: 3px solid $gray;
                    border-radius: 10px;

                    transition: border-color .3s ease, background-color .3s ease;

                    &:hover {
                        cursor: pointer;
                        background: #2f81ed0c;
                    }

                    &.Selected {
                        border: 3px solid $light-blue;

                        background: #2f81ed1a;

                        .IconContainer {
                            border-color: $light-blue !important;

                            .Icon {
                                color: $light-blue !important;
                                fill: $light-blue !important;
                            }
                        }
                    }

                    .PaymentMethodDetails {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .IconContainer {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border: 2px solid $gray;

                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;

                            transition: border-color .3s ease;

                            .Icon {
                                width: 1.5rem;
                                height: 1.5rem;

                                color: $gray;
                                fill: $gray;
                            }
                        }
                    }
                }
            }

            .PaymentMethodArea {
                display: flex;
                max-height: 20rem;

                margin-top: 1rem;
            }
        }
    }
}